::selection {
  color: #FFFFFF;
  background: #3E5968;
}
body{
  font-family: comfortaa;
}
.text-darkblue{
 color: #3F4A60;; 
}
.btn-darkblue{
  background-color: #3F4A60;
  color: #FFFFFF;
  filter: drop-shadow(0 3px 0.2rem #3F4A60);
}
.btn-darkblue:hover{
  background-color: #FFFFFF;
  color: #3F4A60;
  font-weight: 500;
  filter: drop-shadow(0 3px 0.4rem #3F4A60);
}
input{
  padding: 0.2rem 0.3rem !important;
}


/* Navbar Start  */
nav {
  margin: 0;
  padding: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.custom-navbar {
  height: 50px;
}

.sidebar-open{
  position:fixed; 
  top:0;
  display: none;
}

.sidebar{
  position: fixed;
  top:0;
  height:100vh;
  width:80%;
  display: none;
  background: #000;
}

@media only screen and (max-width: 764px) {
  .custom-navbar {
    height: auto;
    display: none;
  }
  .sidebar-open{
    display: block;
  }
}
/* Navbar End  */

.LogInPage_body {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LogInPage_imgContainer {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  opacity: 0.7;
}

@media only screen and (max-width: 600px) {
  .imgContainer {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    opacity: 0.7;
  }
}

.LogInPage_container {
  width: 20%;
  max-width: 500px;

  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.LogInPage_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LogInPage_input[type="text"],
.LogInPage_input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
}

.LogInPage_input[type="submit"] {
  background-color: #0077ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}
.LogInPage_FormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
}

.LogInPage_FormContainerItems {
  width: 100%;
  padding: 15px;
  text-align: center;
}

.bg_form_color{
  color: #f2f2f2;
}
